body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 100%;
}

.header_top {
  background-color: black;
  padding: 5px;
}

.header_top img {
  width: 5%;
}

.navbar .arrow {
  width: 20px;;
  padding: 5px;
} 

form img {
  width: 20px;
}

.dropdown-menu img {
  width: 60%;
}

.dropdown-menu .playstation a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.dropdown-menu .playstation>li {
  display: inline-block;
}

.link_col>li {
  margin: 0 30px;
  list-style-type: disc;
  color: #378FDB;
}

.link_col a {
  text-decoration: none;
  color: black;
}

.jumbo-top {
  background-image: url('../img/jumbo-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container_jumbo {
  padding-top: 46em;
  padding-bottom: 5em;
}

.container_jumbo .btn {
  background-color: #CD3E2B;
  color: white;
}

.container_jumbo
h1, 
p {
  color: white;
}

.container_jumbo h1 {
  margin: 30px 0;
}

.container_jumbo img {
  width: 50%;
}

.jumbo-bottom {
  padding: 20px 30px;
}

.jumbo-bottom .bordo .bordo-img {
  width: 100%;
  border-radius: 20px;
  border: 3px solid #378FDB;
  padding: 5px;
}

.jumbo-bottom .col img{
  width: 100%;
  border-radius: 20px;
  border: 3px solid white;
  padding: 5px;
}

/* /layout jumbo */

/* layout playstation5 */

.playstation5 .motto {
  text-transform: uppercase;
  color: #378FDB;
  font-weight: bold;
  margin-top: 40px;
}

.playstation5 h3 {
  margin-top: 20px;
  color: #727272;
  font-weight: 400;
}

